---
import IngredientBar from '../components/elements/IngredientBar.astro';
import VerticalImgContainer from '../components/elements/verticalImgContainer.astro';
import Layout from '../layouts/Layout.astro';
import pan from '../assets/loaf-7445434_1920.jpg';
import galletas from "../assets/cookies-8082386_1920.jpg"
import ponques from "../assets/muffin-4430010_1920.jpg"
import { PieChart } from '@mui/x-charts/PieChart';
import { collection, getDocs } from "firebase/firestore"; 
import { db } from '../layouts/Layout.astro';

const querySnapshot = await getDocs(collection(db, "panaderia"));
const docs = querySnapshot.docs

let dias = docs[0].data(), 
	ingredientes = docs[1].data(), 
	productos = docs[2].data(), 
	produccion = docs[3].data(),
	ventas = docs[4].data();


---

<Layout>
	<div class="flex flex-col w-3/5 justify-bewteen gap-[30px]">
		<div class="flex flex-col gap-4 w-full h-full bg-background rounded-[25px] p-6 max-h-[500px]">
			<p class="text-tertiary font-medium">Materia Prima</p>
			<div class="flex justify-center gap-8 w-full h-full">
			<IngredientBar text='Harina' total={400} current={ingredientes[dias.dia][0]} unit='kg' />
			<IngredientBar text='Azucar' total={200} current={ingredientes[dias.dia][1]} unit='kg' />
			<IngredientBar text='Mantequilla' total={210} current={ingredientes[dias.dia][2]} unit='kg' />
			<IngredientBar text='Huevos' total={600} current={ingredientes[dias.dia][3]} unit='U' />
			<IngredientBar text='Leche' total={70} current={ingredientes[dias.dia][4]} unit='L' />
		
		</div>
		</div>
		<div class="flex flex-col gap-4 w-full h-full bg-background rounded-[25px] p-6 max-h-[500px]">
			<p class="text-tertiary font-medium">Existencia de productos</p>
			<div class="flex justify-center gap-8 w-full h-full">
				<VerticalImgContainer title={"Pan"} current={produccion.pan} img={pan} />
				<VerticalImgContainer title={"Galletas"} current={produccion.galletas} img={galletas} />
				<VerticalImgContainer title={"Ponques"} current={produccion.ponques} img={ponques} />
			</div>
			
		</div>
	
	</div>

	<div class="flex flex-col gap-8 w-2/5 h-full bg-background rounded-[25px]  p-6 justify-center">
		<div class="flex flex-col gap-10 ">
			<p class="text-tertiary font-medium">Ventas de ayer</p>
			<PieChart
				series={[
					{
						data: [
							{ id: 0, value: ventas['ayer'][0], label: 'Pan' },
							{ id: 1, value: ventas['ayer'][1], label: 'Galletas' },
							{ id: 2, value: ventas['ayer'][2], label: 'Ponque' },
						],
					},
				]}
				colors={['#dc4f43', '#F7924f', '#FFcc73']}
				width={400}
				height={200}
	
				client:load
			/>
		</div>
		<div class="flex flex-col gap-10 ">
			<p class="text-tertiary font-medium">Ventas de Totales</p>
			<PieChart
				series={[
					{
						data: [
							{ id: 0, value: ventas['totales'][0], label: 'Pan' },
							{ id: 1, value: ventas['totales'][1], label: 'Galletas' },
							{ id: 2, value: ventas['totales'][2], label: 'Ponque' },
						],
					},
				]}
				colors={['#00cadc', '#49c3fb', '#65a6fa']}
				width={400}
				height={200}
	
				client:load
			/>
		</div>
	
		
	</div>
	
</Layout>
