---
import IngredientBar from '../components/elements/IngredientBar.astro';
import VerticalImgContainer from '../components/elements/verticalImgContainer.astro';
import Layout from '../layouts/Layout.astro';
import harina from '../assets/flour-791839_1920.jpg'
import azucar from '../assets/sugar-cubes-258116_1920.jpg'
import mantequilla from '../assets/food-3179853_1920.jpg'
import leche from '../assets/milk-can-1990075_1920.jpg';
import huevos from '../assets/eggs-2048476_1920.jpg';
import { PieChart } from '@mui/x-charts/PieChart';
import HorizontalImgContainer from '../components/elements/HorizontalImgContainer.astro';
import { BarChart } from '@mui/x-charts';
import type { colors } from '@mui/material';
---

<Layout>
	<div class="flex flex-col w-full justify-bewteen gap-[30px] ">
    
		<div class="flex gap-4 w-full h-full bg-background rounded-[25px] px-12 py-6 max-h-[500px] items-center">
			<div class="flex flex-col gap-8 h-full" >
        <p class="text-tertiary font-medium">Existencia de harina (kg)</p>
        <HorizontalImgContainer current={40} img={harina}/>
      </div>
      <div class="h-3/4 w-[2px] mx-8 bg-primary"/>

      <div class="flex flex-col gap-8 h-full" >
        <p class="text-tertiary font-medium">Existencia de harina en la semana</p>
        <BarChart
          xAxis={[{ scaleType: 'band', data: ['Sabado', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'], }]}
          series={[{ data: [220, 178, 138, 93, 53, 3] }]}
          width={450}
          height={220}
          client:load
          colors={['#ffcc73']}
        />
      </div> 
      <div class="h-3/4 w-[2px] mx-8 bg-primary"/>
      <div class="flex flex-col gap-12 h-full" >
        <p class="text-tertiary font-medium">Ultimo abastecimiento </p>
        <p class="text-tertiary font-bold text-3xl items-center">Dia 6 </p>
      </div>
      
		</div>

		<div class="flex gap-4 w-full h-full bg-background rounded-[25px] px-12 py-6 max-h-[500px] items-center">
			<div class="flex flex-col gap-8 h-full" >
        <p class="text-tertiary font-medium">Existencia de azucar (kg)</p>
        <HorizontalImgContainer current={70} img={azucar}/>
      </div>
      <div class="h-3/4 w-[2px] mx-8 bg-primary"/>

      <div class="flex flex-col gap-8 h-full" >
        <p class="text-tertiary font-medium">Existencia de harina en la semana</p>
        <BarChart
          xAxis={[{ scaleType: 'band', data: ['Sabado', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'], }]}
          series={[{ data: [200, 165, 127, 94, 59, 21] }]}
          width={450}
          height={220}
          client:load
          colors={['#dc4f43']}
        />
		  </div>
      <div class="h-3/4 w-[2px] mx-8 bg-primary"/>
      <div class="flex flex-col gap-12 h-full" >
        <p class="text-tertiary font-medium">Ultimo abastecimiento </p>
        <p class="text-tertiary font-bold text-3xl items-center">Dia 6 </p>
      </div>
     
			
		</div>

    <div class="flex gap-4 w-full h-full bg-background rounded-[25px] px-12 py-6 max-h-[500px] items-center mb-[30px]">
			<div class="flex flex-col gap-8 h-full" >
        <p class="text-tertiary font-medium">Existencia de mantequilla (kg)</p>
        <HorizontalImgContainer current={59} img={mantequilla}/>
      </div>
      <div class="h-3/4 w-[2px] mx-8 bg-primary"/>

      <div class="flex flex-col gap-8 h-full" >
        <p class="text-tertiary font-medium">Existencia de mantequilla en la semana</p>
        <BarChart
          xAxis={[{ scaleType: 'band', data: ['Sabado', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'], }]}
          series={[{ data: [185, 150, 118, 82, 51, 13] }]}
          width={450}
          height={220}
          client:load
          colors={['#cf005d']}
        />
		</div>
    <div class="h-3/4 w-[2px] mx-8 bg-primary"/>
      <div class="flex flex-col gap-12 h-full" >
        <p class="text-tertiary font-medium">Ultimo abastecimiento </p>
        <p class="text-tertiary font-bold text-3xl items-center">Dia 6 </p>
      </div>
	
	</div>

  <div class="flex gap-4 w-full h-full bg-background rounded-[25px] px-12 py-6 max-h-[500px] items-center mb-[30px]">
    <div class="flex flex-col gap-8 h-full" >
      <p class="text-tertiary font-medium">Existencia de Leche (litros)</p>
      <HorizontalImgContainer current={59} img={leche}/>
    </div>
    <div class="h-3/4 w-[2px] mx-8 bg-primary"/>

    <div class="flex flex-col gap-8 h-full" >
      <p class="text-tertiary font-medium">Existencia de leche en la semana</p>
      <BarChart
        xAxis={[{ scaleType: 'band', data: ['Sabado', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'], }]}
        series={[{ data: [100, 82, 65, 49, 31, 11] }]}
        width={450}
        height={220}
        client:load
        colors={['#bb109d']}
      />
  </div>
  <div class="h-3/4 w-[2px] mx-8 bg-primary"/>
    <div class="flex flex-col gap-12 h-full" >
      <p class="text-tertiary font-medium">Ultimo abastecimiento </p>
      <p class="text-tertiary font-bold text-3xl items-center">Dia 6 </p>
    </div>

</div>

<div class="flex gap-4 w-full h-full bg-background rounded-[25px] px-12 py-6 max-h-[500px] items-center mb-[30px]">
  <div class="flex flex-col gap-8 h-full" >
    <p class="text-tertiary font-medium">Existencia de Huevos (unidades)</p>
    <HorizontalImgContainer current={8} img={huevos}/>
  </div>
  <div class="h-3/4 w-[2px] mx-8 bg-primary"/>

  <div class="flex flex-col gap-8 h-full" >
    <p class="text-tertiary font-medium">Existencia de huevos</p>
    <BarChart
      xAxis={[{ scaleType: 'band', data: ['Sabado', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'], }]}
      series={[{ data: [270, 215, 165, 111, 61, 8] }]}
      width={450}
      height={220}
      client:load
      colors={['#9b57cc']}
    />
</div>
<div class="h-3/4 w-[2px] mx-8 bg-primary"/>
  <div class="flex flex-col gap-12 h-full" >
    <p class="text-tertiary font-medium">Ultimo abastecimiento </p>
    <p class="text-tertiary font-bold text-3xl items-center">Dia 6 </p>
  </div>

</div>

  </div>

</Layout>
